body {
  margin: 0 auto;
  padding: 0;
  }
  
  main {
    /* display: flex;
    width: 1490px;
    height: 900px; */
    border: solid #ffd800 4px;

  }
  
  nav {
    display: flex;
    flex-direction: column;
    width: 200px;
    border-right: solid #ffd800 4px;
  }
  
  
.nav-btn {
  display: flex;
  flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    color: #000000;
  /* border-bottom: solid #ffd800 2px; */
    cursor: pointer;
    border-radius: 15px;
  }
  
  .nav-btn:hover {

  }


.grade1{
    border: solid #333;
}
.grade2{
  border: solid #707070;
}
.grade3{
      border: solid mediumaquamarine;
}
  .topbar{
      margin: 50px;
      justify-content: center;
      border: solid #333;
  }

.grade-container {
  margin: 0 auto;
  height: 130px;
}
