body{
    margin-left: auto; margin-right: auto;
}

.topbar{
    border: solid black 1px;
    
}
h4{
    margin-left: 10px;
}
h2{
    text-align: center;
}

.nav-btn{
    display: flex;
    flex-direction: ;
    /*justify-content: flex-end;
    align-items: flex-end;*/
    width: 200px;
    height: 100px;
    color: #ffd800;
    border-bottom: solid #ffd800 4px;
    cursor: pointer;
}
